<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kip_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/kip_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KHPI_in_phone"
        android:usesCleartextTraffic="true">
        <activity android:name=".record_book_page"></activity>
        <activity android:name=".select_AuditoryProff_page" />
        <activity android:name=".select_BuidlingFaculty_page" />
        <activity android:name=".schedule_by_day_page" />
        <activity android:name=".select_day_schedule_page" />
        <activity android:name=".MainScreen_page" />
        <activity android:name=".log_in_page" />
        <activity android:name=".Enter_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auditory_schedule_extended" />
        <activity android:name=".Auditory_schedule" />
        <activity android:name=".Aduitory_schedule_selection" />
        <activity android:name=".Building_shedule_selection" />
        <activity
            android:name=".lecturer_schedule_extended"
            android:label="@string/title_activity_lecturer_schedule_extended"
            android:theme="@style/Theme.KHPI_in_phone.NoActionBar" />
        <activity android:name=".Day_schedule" />
        <activity android:name=".Small_object_selection" />
        <activity android:name=".Lecturer_schedule" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity android:name=".KIP_start" />
        <activity android:name=".Autorization" />
        <activity
            android:name=".Group_activity"
            android:label="@string/title_activity_group_activity"
            android:theme="@style/Theme.KHPI_in_phone.NoActionBar" />
        <activity android:name=".Big_object_selection" />
        <activity android:name=".Day_schedule_selection" />
        <activity android:name=".Schedule_swipe_2" />
        <activity android:name=".Plan_edit" />
        <activity
            android:name=".Main_screen"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme.KHPI_in_phone.NoActionBar" />
        <activity android:name=".main_window" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Schedule_swipe" />
    </application>

</manifest>