<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kip">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kip_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kip_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KHPI_in_phone">

        <activity
            android:name=".Group_activity"
            android:label="@string/title_activity_group_activity"
            android:theme="@style/Theme.KHPI_in_phone.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main_window" />
        <activity android:name=".Autorization" />
        <activity android:name=".KIP_start" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>